sample1.json
[{"id":"f258ca59.5b3d18","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b2980d25.95f86","type":"ui_gauge","z":"f258ca59.5b3d18","name":"Medicion de turbina","group":"19118e43.259dd2","order":3,"width":0,"height":0,"gtype":"wave","title":"","label":"ml","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":140,"wires":[]},{"id":"dedcc1c9.181df","type":"ui_chart","z":"f258ca59.5b3d18","name":"","group":"4701f359.4a83cc","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"2000","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":530,"y":340,"wires":[[]]},{"id":"b1b729bc.35ef58","type":"inject","z":"f258ca59.5b3d18","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":340,"wires":[["5c676e66.bcfba"]]},{"id":"5c676e66.bcfba","type":"function","z":"f258ca59.5b3d18","name":"Obtener acumulador","func":"var count = flow.get('count');\nmsg.payload = count;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":340,"wires":[["dedcc1c9.181df"]]},{"id":"a2b3769f.23dbf8","type":"inject","z":"f258ca59.5b3d18","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":80,"wires":[["1a5c51c9.f6108e"]]},{"id":"1a5c51c9.f6108e","type":"function","z":"f258ca59.5b3d18","name":"","func":"flow.set('acc',0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":80,"wires":[[]]},{"id":"7e0352d7.4ffe2c","type":"inject","z":"f258ca59.5b3d18","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":520,"wires":[[]]},{"id":"efa8753d.368388","type":"function","z":"f258ca59.5b3d18","name":"Acumular","func":"var count = flow.get('acc');\nif(count > 80){\n    count = 0;\n}\ncount += 1;\nflow.set('acc',count);\nmsg.payload = count;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":200,"wires":[[]]},{"id":"95e5b609.07cc58","type":"http in","z":"f258ca59.5b3d18","name":"Flow Endpoint","url":"/flow","method":"post","upload":false,"swaggerDoc":"","x":90,"y":160,"wires":[["efa8753d.368388","43c80a73.c82074","b2980d25.95f86"]]},{"id":"43c80a73.c82074","type":"debug","z":"f258ca59.5b3d18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":240,"wires":[]},{"id":"f380970.9fac868","type":"ui_table","z":"f258ca59.5b3d18","group":"a803f9ec.7f53d8","name":"Tabla General","order":1,"width":0,"height":0,"columns":[{"field":"#","title":"#","width":"","align":"left","formatter":"rownum","formatterParams":{"target":"_blank"}},{"field":"Fecha y Hora","title":"Fecha y Hora","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Ventas Reportadas","title":"Valor de Flujo","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":560,"y":380,"wires":[]},{"id":"19118e43.259dd2","type":"ui_group","z":"","name":"Indicador de Flujo","tab":"883facce.f363f","order":1,"disp":true,"width":"6","collapse":true},{"id":"4701f359.4a83cc","type":"ui_group","z":"","name":"Grafica","tab":"883facce.f363f","order":3,"disp":true,"width":"12","collapse":false},{"id":"a803f9ec.7f53d8","type":"ui_group","z":"","name":"Tabla de Datos","tab":"883facce.f363f","order":3,"disp":true,"width":"18","collapse":false},{"id":"883facce.f363f","type":"ui_tab","z":"","name":"Menu Principal","icon":"dashboard","order":1,"disabled":false,"hidden":false}]